@charset "UTF-8";

/*tablet width 768 até 992
desktop 992 até 1200 
telas grandes acima de 1200(px)*/



@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to top,#5b6e36, #38442f);
    }

    section#login{
        width:80vw;
        height:370px;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height:100%;
    }
    section#login > div#formul{
        float: right;
        width: 69%;
        padding-top: 40px; 
        font-size: 1em;
    }
    section#login > div#formul >h1{
        font-size: 1.8em;
    }
    div#formul >p{
        font-size: .8em;
        text-align: center;
        padding-top: 20px;
    }

    
}

@media screen and (min-width:992px) {
    section#login{
        width:990px;
        height: 380px;
    }
    body{
        background-image: linear-gradient(to top,#5b6e36, #38442f);
    }
    section#login >div#imagem{
        float:right;
        width:44%;
        height: 100%;
    }
    section#login >div#formul{
        float:left;
        width:55%;
        padding-top: 50px;
        padding-left: 20px;
        font-size: 1em;
    }
    section#login > div#formul >h1{
        font-size: 1.8em;
    }
    div#formul >p{
        font-size: .8em;
        text-align: center;
        padding-top: 18px;
    }

}

